/** 
 * Kendo UI v2016.3.1317 (http://www.telerik.com/kendo-ui)                                                                                                                                              
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #428bca;
@base: #ebebeb;
@background: #fff;

@border-radius: 4px;

@normal-background: #fff;
@normal-text-color: #333333;
@normal-gradient: none;
@hover-background: #ebebeb;
@hover-text-color: #333333;
@hover-gradient: none;
@selected-background: #428bca;
@selected-text-color: #ffffff;
@selected-gradient: none;

@error: #ffe0d9;
@warning: #fbeed5;
@success: #eaf7ec;
@info: #e5f5fa;

@series-a: #428bca;
@series-b: #5bc0de;
@series-c: #5cb85c;
@series-d: #f2b661;
@series-e: #e67d4a;
@series-f: #da3b36;

// graphics
@image-folder: "Bootstrap";
@texture: none;
@fallback-texture: none;

@import "type-bootstrap.less";

/*
Uncomment the following two @import statements if you want to compile a Kendo UI Bootstrap theme with a custom color scheme, based on a custom Bootstrap Less file.

The first file (bootstrap-variables.less) contains the Bootstrap Less variables. It is part of the Bootstrap source code, not the Kendo UI source code.

The second file (bootstrap-mapper.less) exists in the same folder as this file. It maps the Bootstrap Less variables to Kendo UI Less variables,
which will cause the Kendo UI color values to be overwritten.

More information is available in the Kendo UI documentation:

http://docs.telerik.com/kendo-ui/using-kendo-with-twitter-bootstrap
*/

/*@import "bootstrap-variables.less";*/

/*@import "bootstrap-mapper.less";*/