/** 
 * Kendo UI v2016.3.1317 (http://www.telerik.com/kendo-ui)                                                                                                                                              
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@input-height: 1.94em;
@input-indent: .8em;
@editor-icon-size: 32px;
@menu-link-padding: 1.2em 1.2em 1.1em;
@button-padding: 5px 14px 4px;
@treeview-inner-padding: 0.4167em 0.6667em 0.3333em 0.5833em;
@treeview-inner-margin: 1px 0 1px 0.3333em;
@scheduler-link-padding: .16666em 1.1em;
@grid-header-padding: .75em .2em .8333em 1em;
@icon-positioning: "default";

@import "common/all.less";

.k-widget.k-tabstrip
{
    background-color: transparent;
    background-image: none;
    border-style: none;
    .box-shadow(none);
}

.k-tabstrip .k-tabstrip-items
{
    padding: 0;
}

.k-tabstrip-items .k-link {
    padding: .65em .92em;
}

.k-tabstrip > .k-content,
.k-panelbar .k-tabstrip > .k-content
{
    margin: 0;
}

.k-slider-track
{
    border-width: 1px;
    border-style: solid;
}

.k-grouping-dropclue
{
    margin-top: 10px;
}

.k-grid tr td
{
    border-width: 0 0 1px 1px;
    border-style: solid;
}

.k-slider-horizontal .k-slider-track,
.k-slider-horizontal .k-slider-selection
{
    margin-top: -5px;
}

.k-slider-vertical .k-slider-track,
.k-slider-vertical .k-slider-selection
{
    margin-left: -5px;
}

input.k-textbox {
  height: 2.43em;
}

.k-textbox > input,
.k-autocomplete .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input,
.k-dropdown-wrap .k-input,
.k-selectbox .k-input {
      padding: 0.167em 0;
}

.k-combobox-clearable {
    .k-input {
        padding-right: 1.9em;
    }
}

.k-autocomplete > .k-i-close {
    margin-right: 8px;
}

.k-combobox > .k-dropdown-wrap > .k-i-close {
    right: 2.55em;
}

.k-multiselect > .k-multiselect-wrap > .k-i-close {
    top: @grid-size/2 - 1px;
}

.k-numerictextbox .k-link {
    height: 1.15em;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-n {
    background-position: 0 -1px;
}

.k-numerictextbox .k-select .k-link span.k-i-arrow-s {
    background-position: 0 -36px;
}

.k-webkit .k-rtl .k-widget .k-dropdown-wrap .k-input,
.k-webkit .k-rtl .k-widget .k-numeric-wrap .k-input {
    margin-right: 0;
}

.k-rtl .k-widget.k-autocomplete > .k-i-close,
.k-rtl .k-widget.k-multiselect > .k-multiselect-wrap > .k-i-close {
    left: 0;
    right: initial;
    margin-left: 8px;
    margin-right: 0;
}

.k-rtl .k-widget.k-combobox > .k-dropdown-wrap > .k-i-close {
    left: 2.55em;
    right: initial;
}

.k-pager-wrap,
.k-pager-numbers .k-link {
    line-height: 2.3em;
}

.k-pager-wrap > .k-link {
    height: 2.3em;
    line-height: 2.3em;
}

.k-pager-wrap > .k-link,
.k-pager-numbers .k-link,
.k-pager-numbers .k-state-selected {
    min-width: 2.3em;
}

.k-pager-sizes .k-dropdown-wrap .k-input {
    line-height: 2em;
}

.k-toolbar .k-button-group .k-button {
    margin: 0;
}

.k-checkbox-label:before,
.k-checkbox-label:after,
.k-radio-label:before,
.k-radio-label:after {
    box-sizing: content-box;
}

.k-spreadsheet-window {
    .k-page-orientation {
        top: 25%;
    }

    .k-page-landscape {
        top: 28%;
    }
}

.k-spreadsheet-sheets-bar .k-link:first-child {
    padding-right: 0;
}

.k-spreadsheet-sheets-bar .k-spreadsheet-sheets-remove {
    margin: 0;
    padding: .65em .92em .65em .32em;
}

.k-button.k-spreadsheet-sheets-bar-add {
    padding-top: 2px;
    padding-bottom: 2px;
    top: 2px;
    bottom: 4px;
}

.k-spreadsheet .k-spreadsheet-sheets-bar {
    padding-bottom: 4px;
}

.k-gantt .k-grid-content tr,
.k-gantt-rows tr,
.k-gantt-tasks tr {
	height: 2.4em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-tabstrip-wrapper .k-content {
    min-height: 510px;
    height: 38em;
}

.k-edit-label,
.k-edit-form-container .editor-label {
    padding: 0.65em 0 1em;
}

.k-editor-dialog.k-editor-table-wizard-dialog .k-dropdown.k-align {
    min-width: 56px;
}