/** 
 * Kendo UI v2016.3.1317 (http://www.telerik.com/kendo-ui)                                                                                                                                              
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #eee;
@base: #fff;
@background: #fff;

@border-radius: 6px;

@normal-background: #fff;
@normal-text-color: #676767;
@normal-gradient: "rgba(0,0,0,.01) 0%, rgba(0,0,0,.08) 100%";
@hover-background: #fff;
@hover-text-color: #676767;
@hover-gradient: "rgba(0,0,0,.01) 0%, rgba(0,0,0,.06) 100%";
@selected-background: #eee;
@selected-text-color: #454545;
@selected-gradient: "rgba(0,0,0,.13) 0%, rgba(0,0,0,.08) 100%";

@error: #f45835;
@warning: #f4bc35;
@success: #52c664;
@info: #3e6b99;

@series-a: #527aa3;
@series-b: #6f91b3;
@series-c: #8ca7c2;
@series-d: #a8bdd1;
@series-e: #c5d3e0;
@series-f: #e2e9f0;

// graphics
@image-folder: "Uniform";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-default.less";
