/** 
 * Kendo UI v2016.3.1317 (http://www.telerik.com/kendo-ui)                                                                                                                                              
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #10c4b2;
@base: #363940;
@background: #fff;

@border-radius: 3px;

@normal-background: #fff;
@normal-text-color: #4c5356;
@normal-gradient: none;
@hover-background: #2eb3a6;
@hover-text-color: #fff;
@hover-gradient: none;
@selected-background: #10c4b2;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #fe633f;
@warning: #feca3f;
@success: #2db245;
@info: #0099cc;

@series-a: #10c4b2;
@series-b: #ff7663;
@series-c: #ffb74f;
@series-d: #a2df53;
@series-e: #1c9ec4;
@series-f: #ff63a5;

// graphics
@image-folder: "Flat";
@texture: none;
@fallback-texture: url('textures/highlight.png');

@import "type-flat.less";
