/** 
 * Kendo UI v2016.3.1317 (http://www.telerik.com/kendo-ui)                                                                                                                                              
 * Copyright 2017 Telerik AD. All rights reserved.                                                                                                                                                      
 *                                                                                                                                                                                                      
 * Kendo UI commercial licenses may be obtained at                                                                                                                                                      
 * http://www.telerik.com/purchase/license-agreement/kendo-ui-complete                                                                                                                                  
 * If you do not own a commercial license, this file shall be governed by the trial license terms.                                                                                                      
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       
                                                                                                                                                                                                       

*/
@accent: #008886;
@base: #0e0e0e;
@background: #0e0e0e;

@border-radius: 0;

@normal-background: #0e0e0e;
@normal-text-color: #fff;
@normal-gradient: none;
@hover-background: #00aba9;
@hover-text-color: #fff;
@hover-gradient: none;
@selected-background: #00aba9;
@selected-text-color: #fff;
@selected-gradient: none;

@error: #e20000;
@warning: #ffb137;
@success: #2b893c;
@info: #0c779b;

@series-a: #00aba9;
@series-b: #309b46;
@series-c: #8ebc00;
@series-d: #ff6900;
@series-e: #e61e26;
@series-f: #d8e404;

// graphics
@image-folder: "MetroBlack";
@texture: none;
@fallback-texture: none;

@import "type-metro.less";
